# IDEA
.idea
.editorconfig
.vscode

# node
monitor-ui/node_modules
monitor-ui/dist
monitor-ui/plugin
monitor-ui/src/assets/js/baseURL.js
# monitor-ui/package-lock.json

#develop
build/develop/docker-compose.yml
build/develop/monitor.json
monitor-server/*.log
monitor-server/public/*
monitor-server/monitor-server

#agent
monitor-agent/node_exporter/node_exporter
monitor-agent/node_exporter/node_exporter_new
monitor-agent/agent_manager/agent_manager
monitor-agent/agent_manager/transgateway/api/vendor
monitor-agent/ping_exporter/ping_exporter
monitor-agent/archive_mysql_tool/archive_mysql_tool
monitor-agent/transgateway/transgateway
monitor-agent/db_data_exporter/db_data_exporter
monitor-agent/daemon_proc/daemon_proc
monitor-agent/metric_comparison_exporter/metric_comparison_exporter
monitor-agent/node_exporter/monitor_exporter

#tmp
monitor-ui/.history/*
build/node_exporter/node_exporter_new
build/node_exporter/monitor_exporter
build/node_exporter/VERSION
node_exporter.tar.gz
