name: Go
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.12
      uses: actions/setup-go@v1
      with:
        go-version: 1.12.5
      id: go
      
    - name: Check out code into the Go module directory
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
        path: go/src/github.com/WeBankPartners/open-monitor

    - name: Build
      run: cd /home/runner/work/open-monitor/go/src/github.com/WeBankPartners/open-monitor/monitor-server && go build -v .
      env:
        GOPATH: /home/runner/work/open-monitor/go
